* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: #777;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  color: #f8f8f8;
}

section {
  display: flex;
}

nav {
  background: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

a {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  color: #f8ecec;
  border: 1px solid #f8ecec;
}

a:hover {
  border-radius: 8px;
  color: #111111;
  background-color: #f8ecec;
}

a:active {
  color: #111111;
  background-color: #f8ecec;
}

article {
  flex: 5;
  background-color: white;
  padding-bottom: 25px;
}

footer {
  background-color: #777;
  padding: 50px;
  text-align: center;
  color: white;
  height: 100%;
}

img {
  border-radius: 50px;
}
