* {
  box-sizing: border-box;
}

.rubrik {
  margin-left: 200px;
}

.facts {
  margin-left: 130px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #3ca8c9;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #95a3ad;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

li,
a {
  margin: 18px;
  text-decoration: none;
  color: #f8f8f8;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: white;
  padding: 0px;
  margin: 0px 0px 30px 270px;
}

footer {
  background-color: #777;
  padding: 30px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

img {
  border-radius: 50px;
}
